<div>
    <h2>User List</h2>
  
    <ul *ngIf="users">
      <li *ngFor="let user of users">
        {{ user.firstName }} {{ user.lastName }}
      </li>
    </ul>
  
    <div *ngIf="submitted">
      User added successfully!
    </div>
  
    <form (ngSubmit)="addUser()">
      <div>
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" [(ngModel)]="User.firstName" name="firstName" required>
      </div>
  
      <div>
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" [(ngModel)]="User.lastName" name="lastName" required>
      </div>
  
      <button type="submit">Add User</button>
    </form>
  </div>
  